/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/


/*******************
Main sidebar
******************/

.left-sidebar {
    position: absolute;
    width: 240px;
    top: 0px;
    z-index: 20;
    padding-top: 70px;
    background: $sidebar;
}

.fix-sidebar .left-sidebar {
    position: fixed;
}


/*******************
user profile section
******************/

.sidebar-nav .user-profile {
    > a {
        img {
            width: 30px;
            border-radius: 100%;
            margin-right: 10px;
        }
    }
    >ul {
        padding-left: 40px;
    }
}


/*******************
sidebar navigation
******************/

.scroll-sidebar {
    height: calc(100vh - 70px);
    position: relative;
    &.ps .ps__rail-y {
        left: 2px;
        right: auto;
        background: none;
        width: 6px;
        /* If using `left`, there shouldn't be a `right`. */
    }
}

.collapse.in {
    display: block;
}
.nav-small-cap {
        font-size: 18px;
        margin-bottom: 0px;
        padding: 14px 14px 14px 20px;
        font-weight: 500;
        text-transform: uppercase;
        &:before,
        &:after {
            background-color: #dedfe2;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
        }
        &::before {
            right: 0.5em;
            margin-left: -50%;
        }
        &::after {
            left: 0.5em;
            margin-right: -50%;
        }
    }
.sidebar-nav {
    
    padding: 15px 0 0 0px;
    ul {
        margin-top: 30px;
        padding: 0px;
        li {
            list-style: none;
            a {
                margin: 10px 15px 0;
                border-radius: 30px;
                color: black;
                display: block;
                text-decoration: none;
                position: relative;
                cursor: pointer;
                font-size: 14px;
                padding: 10px 8px;
                line-height: 25px;
                &.active,
                &:hover {
                    color: black;
                    background-color:  rgba(247, 247, 247, 0.7);
                    i {
                        color: #18A554;
                    }
                }
                &.active {
                    font-weight: 500;
                    color: black;
                }
            }
            ul {
                padding-left: 36px;
                
                ul {
                    padding-left: 15px;
                }
            }
            &.nav-devider {
                height: 1px;
                background: $border;
                display: block;
                margin: 15px 0;
            }
        }
    }
    > ul > li > a {
        i {
            width: 31px;
            font-size: 24px;
            display: inline-block;
            vertical-align: middle;
            color: #18A554;
        }
        .label {
            float: right;
            margin-top: 6px;
        }
        &.active {
            font-weight: 400;
            background: #242933;
            color: $themecolor-alt;
        }
    }
    > ul > li {
        margin-bottom: 5px;
        &.active > a {
            color: black;
            background-color:  rgba(247, 247, 247, 0.7);
            i {
                color: #18A554;
            }
        }
    }
    .waves-effect {
        transition: none;
        -webkit-transition: none;
        -o-transition: none;
    }
    .btn-success {
        margin-left: 30px;
        margin-top: 100px;
        background: #18A554;
        border: 0;
    }
}

.sidebar-nav .has-arrow {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: $sidebar-text;
        right: 1em;
        -webkit-transform: rotate(135deg) translate(0, -50%);
        -ms-transform: rotate(135deg) translate(0, -50%);
        -o-transform: rotate(135deg) translate(0, -50%);
        transform: rotate(135deg) translate(0, -50%);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
        top: 23px;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
}

.sidebar-nav .active > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    top: 45%;
    width: 7px;
    transform: rotate(-135deg) translate(0, -50%);
}



