<div class="top-content">
        	
    <div class="inner-bg">
        <div class="container">
            <div class="row">
              
                <div class="col-sm-5">    
                    <div class="form-box">
                      <div class="logo-top">
                        <img src="assets/images/pdo_logo.png" alt="Hsechecklist"/>
                      </div>
                      <div class="title-bottom">
                        <h1 class="title">HEALTH, SAFETY AND ENVIRONMEENT</h1>
                      </div>
                  </div>              
                </div>
                
                <div class="col-sm-1 middle-border"></div>
                <div class="col-sm-1"></div>
                  
                <div class="col-sm-5"> 
                  <router-outlet></router-outlet> 
                </div>

            </div>       
        </div>
    </div>
    
</div>