.form-box {
	margin-top: 70px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-bottom {
	padding: 25px 25px 100px 25px;
	background: #fff;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}

.form-bottom form textarea {
	height: 100px;
}

label {
    color: black;
}

.btn {
	background: #18A554;
	border: 0;
}

.form-group.btn {
	float: right;
}

.form-group .mdi {
	background: #18A554;
	margin-right: 10px;
	border-radius: 50%;
	padding: 3px;
	vertical-align: middle;
	text-align: center;
}

.forget-password {
	color: #18A554!important;
	text-decoration: underline;
	text-decoration-color: #18A554;
}

.form-check input,
.form-check label {
	display: inline-block;
	margin-bottom: 0; /* I added this after I posted my reply */
	vertical-align: middle; /* Fixes any weird issues in Firefox and IE */
}