<div class="form-box">
  <div class="form-top">
    <div class="form-top-left">
      <h3>LOG IN</h3>
    </div>
  </div>
  <div class="form-bottom">
    <form #myForm="ngForm" class="registration-form" method="POST" action="#" role="form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="Ahmed@pdo.com" maxlength="100" class="form-control" id="email" [(ngModel)]="email" required [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" maxlength="25" class="form-control" id="password" required [(ngModel)]="password" length="40" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
          <i class="mdi mdi-help"></i>
        <a href="#" class="forget-password">Forget password?</a>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
      </div>
      <div class="form-group btn">
        <button (click)="onLogin()" type="submit" class="btn btn-success">LOG IN</button>
      </div>
    </form>
  </div>
  <div *ngIf="errorMessage!=null" class="alert alert-danger">
      {{ errorMessage }}
  </div>
</div>
