<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h2 class="card-title">Health, Safety and Environment</h2>
        </div>
        <div class="form-group row">
            <div class="col-sm-8">
                <input type="text" name="search" placeholder="Search..." class="form-control" id="search">
            </div>
            <button class="btn btn-success">SEARCH</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>
                  Checklist Name
                </th>
                <th>
                  Project Name
                </th>
                <th>
                  Inspector Name
                </th>
                <th>
                  Score
                </th>
                <th>
                  Date
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    HSE 001 FLYCAMP
                  </td>
                  <td>
                    FAHUD DEEP 3D
                  </td>
                  <td>
                    Ahmed Al-Busaidi
                  </td>
                  <td>
                    69%
                  </td>
                  <td>
                    2/3/2018
                  </td>
                </tr>
                <tr>
                  <td>
                    HSE 001 FLYCAMP
                  </td>
                  <td>
                    FAHUD DEEP 3D
                  </td>
                  <td>
                    Khalid Al-Busaidi
                  </td>
                  <td>
                    69%
                  </td>
                  <td>
                    2/3/2018
                  </td>
                </tr>
                <tr>
                  <td>
                    HSE 001 FLYCAMP
                  </td>
                  <td>
                    FAHUD DEEP 3D
                  </td>
                  <td>
                    Sana Al-Busaidi
                  </td>
                  <td>
                    69%
                  </td>
                  <td>
                    2/3/2018
                  </td>
                </tr>
                <tr>
                  <td>
                    HSE 001 FLYCAMP
                  </td>
                  <td>
                    FAHUD DEEP 3D
                  </td>
                  <td>
                    Nashwa Al-Busaidi
                  </td>
                  <td>
                    69%
                  </td>
                  <td>
                    2/3/2018
                  </td>
                </tr>
                <tr>
                  <td>
                    HSE 001 FLYCAMP
                  </td>
                  <td>
                    FAHUD DEEP 3D
                  </td>
                  <td>
                    Shahad Al-Busaidi
                  </td>
                  <td>
                    69%
                  </td>
                  <td>
                    2/3/2018
                  </td>
                </tr>
                <tr>
                  <td>
                    HSE 001 FLYCAMP
                  </td>
                  <td>
                    FAHUD DEEP 3D
                  </td>
                  <td>
                    Ahmed Al-Riyami
                  </td>
                  <td>
                    69%
                  </td>
                  <td>
                    2/3/2018
                  </td>
                </tr>
                <tr>
                  <td>
                    HSE 001 FLYCAMP
                  </td>
                  <td>
                    FAHUD DEEP 3D
                  </td>
                  <td>
                    Aisha Al-Kiyumi
                  </td>
                  <td>
                    69%
                  </td>
                  <td>
                    2/3/2018
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item">
                <span><h6>1-10 of 100</h6></span>
              </li>
              <li class="page-item">
                <a class="page-link previous" href="#" aria-label="Previous">
                  <i class="mdi mdi-chevron-left" aria-hidden="true"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link next" href="#" aria-label="Next">
                  <i class="mdi mdi-chevron-right" aria-hidden="true"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
