.main-content {
    margin-top: 25px;
}

.card-header {
    padding: 0;
}

.card-header h2 {
    font-weight: bold;
}

.btn {
	background: #18A554;
    border: 0;
    margin-left: 10px;
}

.form-group.row {
    margin-top: 20px;
}

.form-control {
    border: 1px solid #18A554;
}

tr:hover {
    border: 2px solid #18A554;
}

.card-footer {
    border-top: 0;
    margin-top: 60px;
    background-color: transparent;
}

.page-link {
    position: relative!important;
    display: block!important;
    margin-left: -1px!important;
    line-height: 1.25!important;
    background-color: #ffffff!important;
    padding: 0;
    border: 0;
}

.page-link.previous {
    margin-right: 20px;
}

.page-item span h6 {
    margin-right: 20px;
}